node-red.json
[{"id":"2ae4f20.03af90e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e52fc4c9.5c1d28","type":"natural-language-understanding","z":"2ae4f20.03af90e","name":"","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":291.5,"y":336,"wires":[["ee785919.5e32b8","28e171b1.b06c6e"]]},{"id":"ee785919.5e32b8","type":"debug","z":"2ae4f20.03af90e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"features","x":665.5,"y":389,"wires":[]},{"id":"842411e6.b285e","type":"function","z":"2ae4f20.03af90e","name":"","func":"msg.nlu_options = \n{entity_model:\"d3c955d0-5da8-4e66-a921-524ca8940bb0\",\n relations_model:\"d3c955d0-5da8-4e66-a921-524ca8940bb0\"    \n};\nreturn msg;","outputs":1,"noerr":0,"x":210.5,"y":224,"wires":[["e52fc4c9.5c1d28"]]},{"id":"a11877e5.dcc608","type":"watson-conversation-v1","z":"2ae4f20.03af90e","name":"","workspaceid":"c3b4dc18-7374-4ee7-9b94-71875d4cfc62","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":428.5,"y":107,"wires":[["bf23eb1a.635238"]]},{"id":"cfe9029.c556c","type":"inject","z":"2ae4f20.03af90e","name":"","topic":"","payload":"Preciso ir para Salvador amahã, estou em Sergipe","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":117.5,"y":49,"wires":[["842411e6.b285e"]]},{"id":"bf23eb1a.635238","type":"debug","z":"2ae4f20.03af90e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.output.text[0]","x":671.5,"y":78,"wires":[]},{"id":"28e171b1.b06c6e","type":"function","z":"2ae4f20.03af90e","name":"","func":"var origem;\nvar destino;\nfor(x=0;x<msg.features.entities.length;x++)\n{\n    if(msg.features.entities[x].type == \"Origem\")\n    {\n        origem = msg.features.entities[x].text\n    }\n    if(msg.features.entities[x].type == \"Destino\")\n    {\n        destino = msg.features.entities[x].text\n    }\n}\nmsg.additional_context = {\"destino\":destino,\"origem\":origem};\nreturn msg;","outputs":1,"noerr":0,"x":457.5,"y":236,"wires":[["a11877e5.dcc608"]]}]
